<div class="todo-container">
  <span class="todo-input">
    <label for="todo">Add new todo item</label>

    <input
      type="text"
      name="todo"
      [value]="newTodoName"
      (change)="onValueChange($event)"
    />

    <app-button color="primary" (click)="addNewTodo()">Add new todo</app-button>
  </span>

  <main class="todo-content">
    <span *ngFor="let todo of todoList; let i = index" class="todo-item">
      <app-item [item]="todo" (todoChanged)="onTodoChanged(i)"></app-item>

      <app-button
        [circle]="true"
        (click)="onRemoveTodo(i)"
      >Remove</app-button>

      <app-button
        [circle]="true"
        [routerLink]="['/todo/details', i]"
        color="primary"
      >Details</app-button>
    </span>
  </main>
</div>
