%placeholder {
  display: flex;
  flex-direction: column;
}

.todo {
  &-container {
    @extend %placeholder;
    height: 100%;
    padding: 100px;
    gap: 16px;
  }

  &-content {
    @extend %placeholder;
    flex-grow: 1;
    gap: 16px;
  }

  &-input {
    @extend %placeholder;
    gap: 8px;

    input {
      max-width: 200px;
    }
  }

  &-item {
    display: flex;
    gap: 16px;
  }

  &-remove {
    background-color: red;
    border-radius: 16px;
    color: white;
    border: none;
  }
}
